<div class="content">
  <div class="card mt-4">
    <div class="card-body"> 
      <div class="row">
  <article class="text-center col-6 col-md-3">
    <a
      href="https://www.immoserveiscalablau.com/inmuebles/CHALET_INDEPENDIENTE_DE_4_HABITACIONES_Y_PISCINA."
      ><div class="inmobles-resum-operacio"></div>
      <div class="inmobles-resum-preu">279.000 €</div>
      <div class="inmobles-img">
        <img
          src="https://www.immoserveiscalablau.com/upload/img/35/thumb_300_190/palmeras-1.jpg"
        />
      </div>
      <div class="inmobles-resum">
        <div class="inmobles-titol">
          CHALET INDEPENDIENTE DE 4 HABITACIONES Y PISCINA.
        </div>

        <div class="inmobles-desc">
          Chalet independiente cerca de la playa con 4 habitaciones, garaje y
          piscina.
        </div>
        <div class="inmobles-resum-ref">Ref: 477</div>
      </div>

      <div class="inmobles-resum-detalls">
        <span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-sup.png"
          />192m<sup>2</sup></span
        ><span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-bed.png"
          />4</span
        ><span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-wc.png"
          />2</span
        >
      </div>
    </a>
  </article><br>
  <article class="text-center col-6 col-md-3">
    <a
      href="https://www.immoserveiscalablau.com/inmuebles/BONITO_CHALET_INDIVIDUAL_CON_PISCINA_EN_PARCELA_DE_1.000_M2."
      ><div class="inmobles-resum-operacio"></div>
      <div class="inmobles-resum-preu">360.000 €</div>
      <div class="inmobles-img">
        <img
          src="https://www.immoserveiscalablau.com/upload/img/35/thumb_300_190/p6216620-2.jpg"
        />
      </div>
      <div class="inmobles-resum">
        <div class="inmobles-titol">
          BONITO CHALET INDIVIDUAL CON PISCINA EN PARCELA DE 1.000 M2.
        </div>

        <div class="inmobles-desc">
          Gran chalet de 6 habitaciones y 3 baños con piscina en parcela de
          1000m2.
        </div>
        <div class="inmobles-resum-ref">Ref: 496</div>
      </div>

      <div class="inmobles-resum-detalls">
        <span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-sup.png"
          />296m<sup>2</sup></span
        ><span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-bed.png"
          />6</span
        ><span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-wc.png"
          />3</span
        >
      </div>
    </a>
  </article><br>
  <article class="text-center col-6 col-md-3">
    <a
      href="https://www.immoserveiscalablau.com/inmuebles/GRAN_CHALET_INDEPENDIENTE_EN_EL_CENTRO_DE_MIAMI_PLAYA."
      ><div class="inmobles-resum-operacio"></div>
      <div class="inmobles-resum-preu">350.000 €</div>
      <div class="inmobles-img">
        <img
          src="https://www.immoserveiscalablau.com/upload/img/35/thumb_300_190/pa266086.jpg"
        />
      </div>
      <div class="inmobles-resum">
        <div class="inmobles-titol">
          GRAN CHALET INDEPENDIENTE EN EL CENTRO DE MIAMI PLAYA.
        </div>

        <div class="inmobles-desc">
          Chalet independiente de 3 habitaciones , 3 baños y piscina privada.
        </div>
        <div class="inmobles-resum-ref">Ref: 481</div>
      </div>

      <div class="inmobles-resum-detalls">
        <span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-sup.png"
          />223m<sup>2</sup></span
        ><span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-bed.png"
          />3</span
        ><span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-wc.png"
          />3</span
        >
      </div>
    </a>
  </article><br>
  <article class="text-center col-6 col-md-3">
    <a
      href="https://www.immoserveiscalablau.com/inmuebles/CHALET_PAREADO_DE_3_HABITACIONES_Y_PISCINA_EN_EL_CLUB_DE_GOLF_BONMONT."
      ><div class="inmobles-resum-operacio"></div>
      <div class="inmobles-resum-preu">360.000 €</div>
      <div class="inmobles-img">
        <img
          src="https://www.immoserveiscalablau.com/upload/img/35/thumb_300_190/pa146905-1.jpg"
        />
      </div>
      <div class="inmobles-resum">
        <div class="inmobles-titol">
          CHALET PAREADO DE 3 HABITACIONES Y PISCINA EN EL CLUB DE GOLF BONMONT.
        </div>

        <div class="inmobles-desc">
          Chalet en Urb.Bonmont de 3 habitaciones , 3 baños y piscina privada.
        </div>
        <div class="inmobles-resum-ref">Ref: 503</div>
      </div>

      <div class="inmobles-resum-detalls">
        <span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-sup.png"
          />198m<sup>2</sup></span
        ><span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-bed.png"
          />3</span
        ><span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-wc.png"
          />3</span
        >
      </div>
    </a>
  </article><br>
  <article class="text-center col-6 col-md-3">
    <a
      href="https://www.immoserveiscalablau.com/inmuebles/GRAN_VILLA_DE_310_M2_EN_PARCELA_DE_MAS_DE_1.000_M2_MIAMI_PLAYA."
      ><div class="inmobles-resum-operacio"></div>
      <div class="inmobles-resum-preu">550.000 €</div>
      <div class="inmobles-img">
        <img
          src="https://www.immoserveiscalablau.com/upload/img/35/thumb_300_190/p7273720.jpg"
        />
      </div>
      <div class="inmobles-resum">
        <div class="inmobles-titol">
          GRAN VILLA DE 310 M2 EN PARCELA DE MAS DE 1.000 M2 MIAMI PLAYA.
        </div>

        <div class="inmobles-desc">
          Gran villa a 1 Km de la playa con 3 habitaciones y 2 salones.
        </div>
        <div class="inmobles-resum-ref">Ref: 402</div>
      </div>

      <div class="inmobles-resum-detalls">
        <span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-sup.png"
          />310m<sup>2</sup></span
        ><span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-bed.png"
          />3</span
        ><span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-wc.png"
          />3</span
        >
      </div>
    </a>
  </article><br>
  <article class="text-center col-6 col-md-3">
    <a
      href="https://www.immoserveiscalablau.com/inmuebles/GRAN_CHALET_INDEPENDIENTE_EN_EL_CENTRO_DE_MIAMI_PLAYA."
      ><div class="inmobles-resum-operacio"></div>
      <div class="inmobles-resum-preu">350.000 €</div>
      <div class="inmobles-img">
        <img
          src="https://www.immoserveiscalablau.com/upload/img/35/thumb_300_190/pa266086.jpg"
        />
      </div>
      <div class="inmobles-resum">
        <div class="inmobles-titol">
          GRAN CHALET INDEPENDIENTE EN EL CENTRO DE MIAMI PLAYA.
        </div>

        <div class="inmobles-desc">
          Chalet independiente de 3 habitaciones , 3 baños y piscina privada.
        </div>
        <div class="inmobles-resum-ref">Ref: 481</div>
      </div>

      <div class="inmobles-resum-detalls">
        <span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-sup.png"
          />223m<sup>2</sup></span
        ><span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-bed.png"
          />3</span
        ><span class="icoDetall"
          ><img
            src="https://www.immoserveiscalablau.com/img/ico-wc.png"
          />3</span
        >
      </div>
    </a>
  </article> <br>
</div>
</div>
</div>
</div>
