<div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img
          src="https://d2p0bx8wfdkjkb.cloudfront.net/static/properties/TBCZYOYRXE/AHBV7E7H56/Q9DnDXcd32/CONTACTO-2.jpg"
          width="100%"
        />
      </div>

      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h2>Encuéntranos en el Mapa</h2>
            <div >
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d910.7228402890223!2d-69.96289504031891!3d18.463236084796915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea561fc48aa002b%3A0xfc75632cf0baccfc!2sTuCasaRD!5e0!3m2!1ses!2sdo!4v1608696528040!5m2!1ses!2sdo"
                width="100%"
                height="500"
                frameborder="0"
                style="border: 0"
                tabindex="0"
              ></iframe>

            </div>
          </div>
        </div>
      </div>

      
      <div class="col-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h2>Nuestra información de contacto</h2>
            <ul class="">
              <li>
                <i class="far fa-building"></i><span>(809) 562-6884</span>
              </li>
              <li>
                <i class="fas fa-map-marker-alt"></i>Avenida Gustavo Mejía
                Ricart 121, Santo Domingo
              </li>
              <li><i class="far fa-envelope"></i>info@tucasard.com</li>
              <li><i class="fas fa-laptop"></i>www.tucasard.com</li>
            </ul>
            <p class="social">
              <a
                href="https://web.facebook.com/Tucasard/"
                target="_blank"
                class="transition"
                ><i class="fab fa-facebook-f"></i></a
              ><a
                href="https://twitter.com/TuCasaRD"
                target="_blank"
                class="transition"
                ><i class="fab fa-twitter"></i></a
              ><a
                href="https://www.instagram.com/tucasard/"
                target="_blank"
                class="transition"
                ><i class="fab fa-instagram"></i></a
              ><a
                href="https://www.youtube.com/channel/UCYnpNj6hBAKr5CafdVHCDAw/featured"
                target="_blank"
                class="transition"
                ><i class="fab fa-youtube"></i
              ></a>
            </p>
            <hr />
            <h2 class="mb-4">Formulario de Contacto</h2>
            <div>
                
              <div class="container">
                <div>
                  <form>
                    <div class="form-group">
                      <label for="campo-de-texto"
                        >Nombre Completo: <span class="danger">*</span></label
                      >
                      <div>
                        <input
                          label="Nombre Completo"
                          required=""
                          placeholder=""
                          id="campo-de-texto"
                          type="text"
                          class="form-control"
                          value=""
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="campo-de-texto"
                        >Correo electrónico:
                        <span class="danger">*</span></label
                      >
                      <div>
                        <input
                          label="Correo electrónico"
                          required=""
                          placeholder=""
                          id="campo-de-texto"
                          type="text"
                          class="form-control"
                          value=""
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="campo-de-texto"
                        >Teléfono / WhatsApp:
                        <span class="danger">*</span></label
                      >
                      <div>
                        <input
                          label="Teléfono / WhatsApp"
                          required=""
                          placeholder=""
                          id="campo-de-texto"
                          type="text"
                          class="form-control"
                          value=""
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="mensaje"
                        >Mensaje: <span class="danger">*</span></label
                      ><textarea
                        label="Mensaje"
                        placeholder=""
                        id="mensaje"
                        required=""
                        rows="3"
                        class="undefined form-control"
                      ></textarea>
                    </div>
                    <div id="submit_button" class="flex-end">
                      <button class="btn btn-primary" type="submit">
                        Enviar
                      </button>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
