<!-- <footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <h5><i class="uil uil-road"></i> ACME CO INC.</h5>
              <div class="row">
                  <div class="col-6">
                      <ul class="list-unstyled">
                          <li><a href="">Product</a></li>
                          <li><a href="">Benefits</a></li>
                          <li><a href="">Partners</a></li>
                          <li><a href="">Team</a></li>
                      </ul>
                  </div>
                  <div class="col-6">
                      <ul class="list-unstyled">
                          <li><a href="">Documentation</a></li>
                          <li><a href="">Support</a></li>
                          <li><a href="">Legal Terms</a></li>
                          <li><a href="">About</a></li>
                      </ul>
                  </div>
              </div>
              <ul class="nav">
                  <li class="nav-item"><a href="" class="nav-link pl-0"><i class="uil uil-facebook fa-lg"></i></a></li>
                  <li class="nav-item"><a href="" class="nav-link"><i class="uil uil-twitter fa-lg"></i></a></li>
                  <li class="nav-item"><a href="" class="nav-link"><i class="uil uil-github fa-lg"></i></a></li>
                  <li class="nav-item"><a href="" class="nav-link"><i class="uil uil-instagram fa-lg"></i></a></li>
              </ul>
              <br>
          </div>
          <div class="col-md-2">
              <h5 class="text-md-right">Contact Us</h5>
              <hr>
          </div>
          <div class="col-md-5">
              <form>
                  <fieldset class="form-group">
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </fieldset>
                  <fieldset class="form-group">
                      <textarea class="form-control" id="exampleMessage" placeholder="Message"></textarea>
                  </fieldset>
                  <fieldset class="form-group text-xs-right">
                      <button type="button" class="btn btn-secondary-outline btn-lg">Send</button>
                  </fieldset>
              </form>
          </div>
      </div>
  </div>
</footer> -->


<!-- <section>Footer Example 3</section> -->

		<footer class="footer-distributed">

			<div class="footer-right">

				<a href="#"><i class="uil uil-facebook"></i></a>
				<a href="#"><i class="uil uil-twitter"></i></a>
				<a href="#"><i class="uil uil-linkedin"></i></a>
				<a href="#"><i class="uil uil-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="#">Home</a>

					<a href="#">Blog</a>

					<a href="#">Pricing</a>

					<a href="#">About</a>

					<a href="#">Faq</a>

					<a href="#">Contact</a>
				</p>

				<p>Company Name &copy; 2015</p>
			</div>

		</footer>
