<h1>Agregar Usuario</h1>
<div>
  <ul>
    <form action="/">
      <label for="nombres">Nombres</label><br>
      <input type="text" placeholder="Nombres" id="departamento" ng-model="formData.nombres" size="50"><br>

      <label for="apellidos">Apellidos</label><br>
      <input type="text" placeholder="Apellidos" ng-model="formData.apellidos" size="50"><br>

      <label for="documento">Documento</label><br>
      <input type="text" placeholder="Documento" ng-model="formData.documento" size="50"><br>

      <label for="telefono">Telefono</label><br>
      <input type="text" placeholder="Número telefónico" ng-model="formData.telefono" size="50"><br>

      <label for="email">e-mail</label><br>
      <input type="text" placeholder="Correo electrónico" ng-model="formData.email" size="50"><br>

      <label for="clave">Clave</label><br>
      <input type="text" placeholder="Clave" ng-model="formData.clave" size="50"><br><br>

      <button class="btn btn-primary btn-lg button">Registrar usuario</button>
    </form>
  </ul>
</div>
