<div class="col-12 col-md-6">
  <body>
    <app-side-bar-home></app-side-bar-home>
  </body>
</div>


<div class="container">
  <div class="card-fluid-mt-2 my-5">
    <div class="row justify-content-center"></div>
    <div class="card-body cardbody-color p-lg-5">
      <div class="col-6 col-md-12">
        <div class="pb-5 col-12">
          <h1 align="center">Gestion Inmobiliaria</h1>
          <p>Gestion de Inmuebles, ubicaciones y usuarios</p>
          
        </div>
      </div>
    </div>
  </div>
</div>
