<div class="container">
<div class="get-all-users-header">
  <div class="user">
    <div class="user-icon">
      <i class="uil uil-user"></i>
    </div>
  </div>
  <div class="content-text">
    <div class="small-text">Administrador</div>
    <h1 class="title">Usuarios</h1>
    <h5 class="sub-title">Lista de usuarios <span class="count-users">Registrados al 2021</span> </h5>
  </div>
</div>

<fieldset>
  <button class="button btn-primary btn-lg Addbutton right" routerLink='/admin/add-user'><i></i>Adicionar Usuario</button>
  <input type="text action" placeholder="Buscar.." class="right">
</fieldset>

<div class="get-all-users-body">
  <ul class="get-all-users-table-header">
    <li>id</li>
    <li>Nombres</li>
    <li>Apellidos</li>
    <li>Documento</li>
    <li>Teléfono</li>
    <li>e-mail</li>
    <li>Clave</li>
  </ul>

  <ul class="get-all-users-rows" *ngFor="let user of mockDb.mockUsers">
    <li class="user-data-opacity limitChar">
      {{user.id}}
    </li>
    <li class="user-data-opacity">
      <ng-container *ngTemplateOutlet="userImageSection; context:{user:user}"></ng-container>
    </li>
    <li class="user-data-opacity">
      {{user.lastName}}
    </li>
    <li class="user-data-opacity">
      {{user.document}}
    </li>
    <li class="user-data-opacity">
      {{user.phone}}
    </li>
    <li class="user-data-opacity limitChar">
      {{user.email}}
    </li>
    <li class="user-data-opacity limitChar">
      {{user.password}}
    </li>
    <li>
      <button class="button btn-lg" routerLink='/admin/edit-user'><i></i>Editar</button>
    </li>
    <li>
      <button class=" btn-danger btn-lg buttonDelete" routerLink='/admin/delete-user'><i></i>Eliminar</button>
    </li>
  </ul>
</div>

<!-- User image template -->
<ng-template #userImageSection let-user="user">

  <div class="user-image-section">
    <img appImgBroken class="user-image" [src]="user.image" [alt]="">
    <div class="user-info">
      <div class="user-name">{{user.name}}</div>
      <!-- <div class="user-lastName">{{user.lastName}}</div> -->
    </div>
  </div>

</ng-template>