<!-- Breadcrumb Section Begin -->
<div class="container">
  <div class="card">
    <div class="card-body cardbody-color p-lg-5">
      <div class="row">
        <div class="pb-4 col-12">
          <h1 align="center">Sobre Nosotros</h1>
        </div>
        <div class="col-12 col-md-6">
          <div>
            <p>
              Somos una empresa líder del mercado inmobiliario, con más de 45
              años de experiencia y solidez. Nuestro objetivo es ofrecer un
              excelente servicio, respaldo, transparencia y comercializar
              ágilmente su propiedad en materia de Ventas o alquiler.
              Contamos con un excelente equipo humano, red comercial a través de
              nuestras sucursales y oficinas del Grupo. Hemos construido nuestro
              prestigio a través de un servicio transparente, una sólida
              experiencia, cumplimiento, conocimiento y un constante liderazgo
              en el sector inmobiliario el cual ponemos a su disposición.


              Nuestra filosofía se basa en comprometernos en conservar, proteger
              y fortalecer su patrimonio. Estamos dispuestos a solucionar todas
              sus necesidades en el sector inmobiliario en la ciudad de Bogotá.
            </p>
          </div>

          <div class="col-12 col-md-6">
            <h1 align="center">Mision</h1>
            <div class font-family="Segoe">
              <p align="center">
                En The Assemblers nuestra Misión es “Ofrecer Servicios
                Inmobiliarios de Excelencia por medio de un equipo de
                colaboradores en la cual la calidad de atención al cliente, la
                experiencia en el área y la capacitación sean factores esenciales
                para brindar un grado de Calidad Total en nuestros servicios.”
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <h1 align="center">Vision</h1>
            <div>
              <p align="center">
                Trabajamos diariamente con una Visión en mente, “Posicionar a The
                Assemblers como una empresa líder en el mercado de bienes raíces,
                la cual sea reconocida por la capacidad de desarrollo de proyectos
                de inversión, comercialización, buscando constantemente
                oportunidades de negocio con las cuales tanto asesor – cliente –
                empresa, mejoren la calidad de vida y contribuyan en el desarrollo
                profesional.”
              </p>
            </div>
          </div>

        </div>
        <div class="col-12 col-md-6">
          <div class="wpb_wrapper">
            <p>
              <strong>Siempre manteniendo nuestros valores presentes:</strong>
            </p>
            <ul class="pt-3">
              <li>
                <strong>Trabajo en equipo:</strong> Para lograr cumplir
                objetivos comunes. Honestidad: Hablar con la verdad con cliente
                y compañeros, para lograr una congruencia entre el pensar, decir
                y el actuar.
              </li>
              <li>
                <strong>Responsabilidad:</strong> La idea de respuesta,
                ofreciendo una actitud adecuada a los compromisos que hicimos
                con el cliente.
              </li>
              <li>
                <strong>Lealtad:</strong> Comprometidos con la empresa y el
                cliente, en los buenos y en los malos momentos.
              </li>
              <li>
                <strong>Profesionalismo:</strong> Logrado a través de la
                Disciplina, Confianza y deseos de aprender y progresar.
              </li>
              <li>
                <strong>Confianza:</strong> Reconocemos y creemos en el buen
                actuar por parte de los clientes y equipo de trabajo.
              </li>
              <li>
                <strong>Transparencia:</strong> Actuando coherentemente con
                información abierta y oportuna.
              </li>
              <li>
                <strong>Respeto:</strong> Mostramos aprecio y cuidado por el
                valor que tienen las personas
              </li>
              <li>
                <strong>Innovación:</strong> Utilizando la tecnología que
                permita el desarrollo de nuestra empresa.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-4">
    <div class="card-body cardbody-color p-lg-5">
      <div class="text-center pb-6 pt-2"><h2>Nuestros Servicios</h2></div>
      <div class="row">
        <div class="text-center col-6 col-md-3">
          <img
            src="https://d2p0bx8wfdkjkb.cloudfront.net/static/properties/TBCZYOYRXE/OMUFYJND9G/jdyoC6NyYv/promover.png"
          /><strong class="d-block">Promover</strong>
          <p class="text-center">
            Contamos con la mejor plataforma para promover cada proyecto.
          </p>
        </div>
        <div class="text-center col-6 col-md-3">
          <img
            src="https://d2p0bx8wfdkjkb.cloudfront.net/static/properties/TBCZYOYRXE/6CR83P4U24/cBsw3Lzzyt/vender.png"
          /><strong class="d-block">Vender</strong>
          <p class="text-center">
            Encuentra la propiedad ideal que tanto has estado buscando.
          </p>
        </div>
        <div class="text-center col-6 col-md-3">
          <img
            src="https://d2p0bx8wfdkjkb.cloudfront.net/static/properties/TBCZYOYRXE/HS8OITKOB3/WQKXqykgvP/alquilar.png"
          /><strong class="d-block">Alquilar</strong>
          <p class="text-center">
            Renta la casa o apartamento más cómoda y acogedora en cualquier
            parte del país.
          </p>
        </div>
        <div class="text-center col-6 col-md-3">
          <img
            src="https://d2p0bx8wfdkjkb.cloudfront.net/static/properties/TBCZYOYRXE/S58F48KMV4/AeZAsncUWU/tramites.png"
          /><strong class="d-block">Trámites</strong>
          <p class="text-center">
            Trámites de préstamos hipotecarios para que obtengas tu casa o
            apartamento de manera fácil y rápida.
          </p>
        </div>
        <div class="pt-6 col-12">
          <p>
            Ofrecemos otros servicios adicionales de Negocio inherentes a su
            actividad principal, como lo es el Servicio de administracion de
            propiedades a Nivel Nacional, Departamento de Mantenimiento de
            condominmios; Gestion de Préstamos en Hipotecas, asesoramientos
            Jurídicos y de Avalúos inmobiliarios, así tambien como la mejor
            asesoria en plusvalia y rentabiliadad de cualquier indole en bienes
            raices.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Testimonial Section End -->
