<div class="side-bar-home">
     <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <p class="fs-4" align="center">Inmobiliaria<br>THE ASSEMBLERS</p>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page" routerLink= '/admin/get-all-properties'>
              <svg class="bi me-2" width="16" height="16"></svg>
              Inmuebles
            </a>
          </li>
          <li>
            <a href="/dashboard" class="nav-link text-white" routerLink= '/admin/get-all-locations'>
              <svg class="bi me-2" width="16" height="16"></svg>
              Ubicaciones
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white" routerLink= '/admin/get-all-users'>
              <svg class="bi me-2" width="16" height="16"></svg>
              Usuarios
            </a>
          </li>
        </ul>
        <hr>
       
      </div>