<div class="side-bar-home">
     <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <div><i class="uil uil-ellipsis-h"></i></div>
  <span><i class="uil uil-user"></i> </span>
  <ul class="side-bar-home__list list-one">
    <li [routerLink]="item.router" *ngFor="let item of mainMenu.userOptions">
        <div class="list-wrapper-item">
            <i [ngClass]="['uil',item.icon]"></i>
            <span class="side-bar__list list-label">{{item.name}}</span>
        </div>
    </li>
</ul>
