.side-bar-home {
  width: 17.5rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: .5rem 1rem;
  margin-top: 10%;
  /* background-color: red; */
  /* overflow: scroll; */


  /* margin: 0;
  padding: 0;
  width: 200px;
  background-color: ;
  position: fixed;
  width: 15.5rem;
  height: 100vh;
  overflow: auto; */
}

.side-bar__list {
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: .8;
}

.side-bar__list .list-label {
  font-size: 90%;
  font-weight: 500;
}

.side-bar__list .list-wrapper-item {
  font-size: var(--font-size-1);
  font-weight: 500;
  display: flex;
  align-items: center;
  align-content: center;
}

.side-bar__list .list-wrapper-item .uil {
  font-size: var(--font-size-3);
  padding-right: .5rem;
}

.side-bar__separator {
  margin: 1rem 0;
}

.side-bar__separator.line-separator {
  border-bottom: solid 1px var(--color-2);
}

.side-bar__list.list-three .list-wrapper-item {
  padding: .25rem 0;
}

.side-bar__list li {
  cursor: pointer;
}

/* hide scrollbar but allow scrolling */
.side-bar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.side-bar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
