<div class="side-bar">
  <div><i class="uil uil-ellipsis-h"></i></div>
  <span>Inmuebles</span>
  <ul class="side-bar__list list-one">
    <li *ngFor="let item of mainMenu.defaultOptions">
        <div class="list-wrapper-item">
            <i [ngClass]="['uil',item.icon]"></i>
            <span class="side-bar__list list-label">{{item.name}}</span>
        </div>
    </li>
</ul>
<div class="side-bar__separator"></div>
<span>Ubicación</span>
<!-- <ul class="side-bar__list list-two">
    <li *ngFor="let item of mainMenu.accessLink">
        <div class="list-wrapper-item">
            <i [ngClass]="['uil',item.icon]"></i>
            <span class="side-bar__list list-label">{{item.name}}</span>
        </div>
    </li>
</ul> -->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="uil uil-building"></i>
    Departamento
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>

  <div class="side-bar__separator"></div>

  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Ciudad
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>

  <div class="side-bar__separator"></div>

  <button type="button" class="btn btn-success">Buscar</button>

<!-- </div>
<div class="side-bar__separator line-separator"></div>
<ul class="side-bar__list list-three">
    <li *ngFor="let item of customOptions">
        <div class="list-wrapper-item">
            <span class="side-bar__list list-label">{{item.name}}</span>
        </div>
    </li>
</ul>
</div> -->
