<div class="container -fluid mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
     <div class="card bg-ligth">
      <article class="card-body cardbody-color p-lg-5" style="max-width: 600px;">
      
       <div class="text-center">
          <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_960_720.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
            width="200px" alt="profile">
        </div>    
    <h2 class="card-title mt-3 text-center">Regístrate</h2>
    
    <p class="card bg-primary">
      <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i> &nbsp; Login via Twitter</a>
      </p>
      <p class="card bg-info">
      <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i> &nbsp; Login via facebook</a>
    </p>
    <p class="divider-text">
          <span class="bg-secondary-">OR</span>
      </p>
       
    <form>
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
       </div>
          <input name="" class="form-control" placeholder="Nombre completo" type="text">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
       </div>
          <input name="" class="form-control" placeholder="Dirección Email " type="email">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
      </div>
      <select class="custom-select" style="max-width: 120px;">
          <option selected="">+57601</option>
          <option value="1">+57602</option>
          <option value="2">+57603</option>
          <option value="3">+57604</option>
      </select>
        <input name="" class="form-control" placeholder="Nunero de telefono" type="text">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-building"></i> </span>
      </div>
      <select class="form-control">
        <option selected=""> Seleccione tipo de rol</option>
        <option>Administrador</option>
        <option>Usuario</option>
        
      </select>
    </div> <!-- form-group end.// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
          <input class="form-control" placeholder="Crear password" type="password">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
          <input class="form-control" placeholder="Repetir password" type="password">
      </div> <!-- form-group// -->                                      
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Crear cuenta  </button>
      </div> <!-- form-group// -->      
      <p class="text-center">Tiene cuenta? <a href="">Iniciar sesión</a> </p>                                                                 
  </form>
  </article>
</div>
  </div>