<div class="">
  <div class="card bg-ligth">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Create Account</h4>
    <p class="text-center">Get started with your free account</p>
    <p class="card bg-primary">
      <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i> &nbsp; Login via Twitter</a>
      </p>
      <p class="card bg-info">
      <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i> &nbsp; Login via facebook</a>
    </p>
    <p class="divider-text">
          <span class="bg-secondary-">OR</span>
      </p>
    <form>
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
       </div>
          <input name="" class="form-control" placeholder="Full name" type="text">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
       </div>
          <input name="" class="form-control" placeholder="Email address" type="email">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
      </div>
      <select class="custom-select" style="max-width: 120px;">
          <option selected="">+576</option>
          <option value="1">+577</option>
          <option value="2">+198</option>
          <option value="3">+701</option>
      </select>
        <input name="" class="form-control" placeholder="Phone number" type="text">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-building"></i> </span>
      </div>
      <select class="form-control">
        <option selected=""> Select rol type</option>
        <option>Administrador</option>
        <option>Usuario</option>
        <option>Invitado</option>
      </select>
    </div> <!-- form-group end.// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
          <input class="form-control" placeholder="Create password" type="password">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
          <input class="form-control" placeholder="Repeat password" type="password">
      </div> <!-- form-group// -->                                      
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
      </div> <!-- form-group// -->      
      <p class="text-center">Have an account? <a href="">Log In</a> </p>                                                                 
  </form>
  </article>
</div>
  </div>