<!-- <nav class="navbar navbar-light bg-light header">
  <div class="container-fluid container">
    <a class="navbar-brand" href="#">
      <img class="header-img" src="https://trello.com/1/cards/619914609d61540335df3e93/attachments/61992e18b3129277b98e4e49/download/Inmobiliaria_free-file_(3).png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Inmobiliaria - The Assemblers
    </a>
  </div>
</nav> -->



<!-- <div class="navbar">
  <a class="active" href="#"><i class="uil uil-home"></i> Home</a>
  <a href="#"><i class="uil uil-search"></i> Search</a>
  <a href="#"><i class="uil uil-envelope"></i> Contact</a>
  <a href="#"><i class="uil uil-user"></i> Login</a>
</div> -->


<header class="p-3 bg-success text-white">

  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-left mb-md-0">
        <!-- <button type="button" class="btn btn-success"[routerLink]="item.router" *ngFor="let item of Menu.contacto">Contacto</button> -->

        <li><a [routerLink]="item.router" *ngFor="let item of Menu.dashboard" class="nav-link px-2 text-white">Home</a></li>
        <li><a [routerLink]="item.router" *ngFor="let item of Menu.contacto" class="nav-link px-2 text-white">Contacto</a></li>
        <li><a [routerLink]="item.router" *ngFor="let item of Menu.acerca" class="nav-link px-2 text-white">Acerca</a></li>
        <li><a [routerLink]="item.router" *ngFor="let item of Menu.crud" class="nav-link px-2 text-white">Gestion de Inmobiliaria</a></li>

      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" [routerLink]="item.router" *ngFor="let item of Menu.login">Login</button>
        <button type="button" class="btn btn-warning" [routerLink]="item.router" *ngFor="let item of Menu.register">Sign-up</button>
      </div>

    </div>
   </div>

</header>
