.btn-color{
  background-color: #0c34a1;
  color: rgb(60, 140, 160);
  
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.cardbody-color{
  background-color: #c4dbe2;
}

a{
  text-decoration: none;
}


