<div id="main-wrapper" class="container-fluid mt-5">
      <div class="row justify-content-center">
    <div class="row">
            <div class="col-md-6 offset-md-3">
        <h1 class="text-center text-dark mt-5">Iniciar Sesón</h1>
        <div class="text-center">
        <h6 class= "h5 mb-0">¡Bienvenido de nuevo!</h6>
        <p class="text-muted mt-3 mb-5">Ingrese su dirección de correo electrónico y contraseña para acceder al panel de administración..</p>
      </div>
          <div class="text-center">
            <img src="assets/img/The Assemblers.png" alt="" white="20" height="50" role="img">
        </div>
        <div class="card my-5">
         <form class="card-body cardbody-color p-lg-5">

            <div class="text-center">
              <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_960_720.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="profile">
            </div>

            <div class="mb-3">
              <input type="text" class="form-control" id="Username" aria-describedby="emailHelp"
                placeholder="User Name">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" id="password" placeholder="password">
            </div>
            <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button></div>
            <div id="emailHelp" class="form-text text-center mb-5 text-dark">¿No esta registrado?
              <a href="#" class="text-dark fw-bold"> Crear cuenta</a>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>





<!-- <div class="col-md-4 col-md-offset-4"> -->
    <!-- <div class="panel panel-default"> -->
          <!-- <div class="panel-heading">
            <h3 class="panel-title">Login via site</h3>
         </div>
          <div class="panel-body">
            <form accept-charset="UTF-8" role="form">
            <fieldset>
                  <div class="form-group">
                    <input class="form-control" placeholder="yourmail@example.com" name="email" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                </div>
                <div class="checkbox">
                    <label>
                        <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                    </label>
                </div>
                <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
            </fieldset>
              </form>
              <hr>
            
            <input class="btn btn-lg btn-facebook btn-block" type="submit" value="Login via facebook">
        </div>
    </div>
</div> -->